<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="app.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<title>Movie Search</title>
	</head>
	<body>
		<div class="container">
			<h1 class="srch_title">Search your movie here..</h1>
			<hr>
			<form action="/results" method="GET" class="search-form">
				<input type="text" placeholder="Search Term" name="name" class=inp_txt>
				<div>
					<input type="submit" value="Find" class="inp_sub">
				</div>
			</form>
		</div>
	</body>
</html>


